@font-face {
  font-family: "Overlock";
  src: url("/fonts/Overlock-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Overlock";
  font-style: italic;
  src: url("/fonts/Overlock-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Overlock";
  font-weight: 700;
  src: url("/fonts/Overlock-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Overlock";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Overlock-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Overlock";
  font-weight: 900;
  src: url("/fonts/Overlock-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Overlock";
  font-weight: 900;
  font-style: italic;
  src: url("/fonts/Overlock-BlackItalic.ttf") format("truetype");
}